POSTHOG_SECRET=CHANGE_ME
ENCRYPTION_SALT_KEYS=CHANGE_ME
BROWSERLESS_SECRET=CHANGE_ME
DOMAIN=nhai.duckdns.org
TLS_BLOCK=
REGISTRY_URL=posthog/posthog
CADDY_TLS_BLOCK=
CADDY_HOST="nhai.duckdns.org, http://, https://"
POSTHOG_APP_TAG=latest
